@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

html,
body{
    font-family: 'Open Sans', sans-serif;
}

h1{
    margin: 4rem 0;
    text-transform: uppercase;
    text-align: center;
}

.ingrediente{
    border-bottom: solid 1px rgb(0, 0, 0, 0.1);
    padding: 2rem;
    display: flex;
    align-items: center;
}

.ingrediente img{
    height: 5rem;
    border-radius: 50%;
    border: 3px solid rgba(130, 0, 0, 0.276);
}

.ingrediente p{
    margin-left: 1rem;
}