@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{

    background-color: rgb(37, 10, 127);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}

.container-calculadora{
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10px;
    width: 800px;
}

.titulo-calculadora > h1{
    font-weight: 700;
    text-align: center;
    font-size: 30px;
}

.campos{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.campos > label{
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 5px;
}

.campos > input{
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.128);
    padding: 10px 0 10px 10px;
    outline: none;
    font-weight: 400;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.726);
}

.campos > input::placeholder{
    font-weight: 400;
    color: rgba(0, 0, 0, 0.305);
}

.campos > input:focus{
    border-bottom: 3px solid rgb(37, 10, 127);
    padding: 12px 10px;
}

.btn-calcular{
    width: 100%;
    border: none;
    background-color: rgb(95, 62, 202);
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.btn-calcular:hover{
    background-color: rgb(87, 57, 184);
}

#dados{
    margin-top: 100px;
    width: 100%;
}

#dados > table{
    width: 100%;
    border-collapse: collapse;
}

#dados > table > tbody > tr:nth-child(even){
    background-color: rgb(236, 236, 236);
}

#dados > table > thead{
    background-color: rgb(139, 112, 255);
    color: white;
}

th,
td{
    padding: 7px 20px;
    text-align: center;
    border: 2px solid rgb(211, 211, 211);
}

#mensagem{
    background-color: rgb(30, 173, 85);
    border-radius: 7px;
    text-align: center;
    margin-bottom: 20px;
}

#mensagem > p{
    padding: 15px;
    color: white;
    font-size: 20px;
    font-weight: 700;
}